root = true

[*]
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
charset = utf-8-bom

[*.json]
indent_size = 2

[*.xml]
indent_size = 2

[*.csproj]
indent_size = 2

[*.config]
indent_size = 2
